<div class="list-group">
    <h2>Annotation</h2>
    <form id="annotation" action="../app/js/annotation.js" method="post">
        UserId <input type="hidden" name="UserId" value="1"><br>
        PostID <input type="hidden" name="PostId" value="15"><br>
        <label class="label">Annotation:</label> <br> <textarea class="text-left"  name="Annnotation" rows="3"> </textarea><br><br>

        <input class="btn btn-default" type="submit" value="Create Annotation">
    </form>

</div>



    <!--<div data-bind="text: hello"></div>-->
    <!--<ul class="list-group" data-bind="foreach: posts">
        <li data-bind="text: Id"></li>
        <li class="list-group-item-heading" data-bind="text: Title"></li>
        <li>
            <div class="list-group-item-text">
                <a data-bind="attr: { href: Url, title: Title }, text: Url"></a>
            </div>
        </li>

    </ul>
</div>-->