<div class="row component-item">

    <div class="col-md-6 col-md-offset-3">
        <h1>Add a Favorite</h1>

        <form>
            <div class="form-group">

                <!--<p data-bind="text: sesUserId"></p>-->
                <label asp-for="UserId">User Id</label>
                <input data-bind="value: UserId" name="UserId">
                <br>
                <label asp-for="PostId">Post Id</label>
                <input data-bind = "value: PostId" class="form-control" />
               <br>
                <div class="form-group">
                    <label asp-for="Message">Annotation</label>
                    <textarea data-bind="value: Annotation" rows="4" asp-for="Message" class="form-control"></textarea>
                    <span asp-validation-for="Message" class="text-muted"></span>
                </div>
                <!--<button> Create Annotation</button><br>-->
                <div class="btn-group fav-buttons pull-right">
                    <button class="btn btn-default" data-bind='click: loadUserData'>Load Data</button>
                    <button class="btn btn-default" data-bind="click: updateUserData">Update Data</button>
                    <button class="btn btn-success" data-bind="click: saveUserData">Save Data</button> 
                    <button class="btn btn-danger" data-bind="click: deleteUserData">Delete Data</button>
                </div>
            </div>
            
        </form>
    </div>
</div>
