<div class="navbar navbar-inverse navbar-fixed-top custom-navbar" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">SOVA</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav" data-bind="foreach: menuItems">
                <li>
                    <a href="" data-bind="html: icon + '&nbsp;' + mItem, click: function() {showContent(mItem)}"></a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> User Menu <b class="caret"></b></a>
                    <ul class="dropdown-menu" data-bind="foreach: dropdownMenu">
                        <li>
                            <a href="" data-bind="text: dropItem, click: function () { showContent(dropItem)}">
                                
                                <i data-bind="css: { className: 'fa ' + icon }"></i>

                            </a> <i class="fa fa-comments"></i>
                        </li>
                    </ul>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>