<div class="panel panel-default">
    <div class="postdetail-container">
        <h2>Post details</h2>

        <!--<h3 data-bind="text: Title"></h3>-->
       
        <div class="postLoop" data-bind="foreach: data">
            <div class="postdetail panel panel-body">
                <div class="postTitle">
                    <h2 data-bind="text: Title, css: { hide: Title == null} " ></h2>
                    <p>The id of the post:<span data-bind="text: Id"></span></p>
                    
                    <div class="postUser row">
                        <!--<p class="col-sm-6" data-bind="text: CreationDate"></p>-->
                        <span data-bind="dateString: CreationDate, datePattern: 'MM/DD/YYYY'"></span>
                        <p class="col-sm-6" data-bind="text: UserInstance.Name"></p>
                    </div> 
                    
                </div>
                <div class="postBody">
                    <p data-bind="html: Body"></p>
                </div>
                <div class="commentBox" data-bind="css: { hide: Comments == 0}">
                    <div data-bind="foreach: Comments">
                        <p class="commentAuthor">Author: <span data-bind="text: AuthorName"></span></p>
                        
                        <p data-bind="text: Text"></p>
                        <p data-bind="text: CommentId"></p>
                        <p data-bind="text: AuthorName"></p>
                    </div>
                </div>
                

                
            </div>

        </div>
    </div>
    
</div>
