<div class="row component-item">
    <div class="postContainer">
        <h2>Newest Posts
            <i class="fa fa-sticky-note"></i>
        </h2>
        <nav>
            <ul class="pager" data-bind="foreach: page">
                <li><a class="pager-prev" data-bind='click: function() { prevPage(prevUrl) }'>Previous</a></li>
                <li><a class="pager-next" data-bind='click: function() { nextPage(nextUrl) }'>Next</a></li>
            </ul>
        </nav>

        <div data-bind="foreach: posts">
            <div class="postItem">
                <h4>
                    <a data-bind="text: Title, click: function() { $parent.goToPost(Id) }"></a>
                </h4>
                <div data-bind="text: Id"></div>
                <!--<div data-bind="html: Body"></div>-->
                <div data-bind="truncatedText: Body, maxTextLength: 350"></div>
                <!--<div class="panel panel-default">
                    <a data-bind="attr: { href: Url, title: Title }, text: Url"></a>
                </div>-->
            </div>
            <hr />
        </div>
        <nav>
            <ul class="pager" data-bind="foreach: page">
                <li><a class="pager-prev" data-bind='click: function() { prevPage(prevUrl) }'>Previous</a></li>
                <li><a class="pager-next" data-bind='click: function() { nextPage(nextUrl) }'>Next</a></li>
            </ul>
        </nav>
    </div>
</div>
