
<div class="row component-item">
    <div class="col-sm-8 col-sm-offset-2">
        <div class="form-group">

            <div class="search-headline headline">
                <h3> Search for anything you want</h3>
            </div>
            <div class="form-inline">
                <input class="form-control search-input" type="text" placeholder="Search for some code" data-bind="value: searchItem" />
                <button class="btn btn-primary search-btn" data-bind="click: function (){ getResult(searchItem, sesUserId)}">
                    Search
                    <i class="fa fa-search"></i>
                </button>
                
            </div>

            <h5>You have searched for: <span class="boldtext" data-bind="text: searchItem"></span></h5>

        </div>
    </div>
</div>
<div data-bind="if: searchItem">
    <div class="row component-item" >
        <div class="col-sm-12 col-lg-8">
            <div class="postContainer">
                <div data-bind="foreach: searchPosts">
                    <div class="postItem">
                        <h4>
                            <a data-bind="text: Title, click: function() { $parent.goToPost(Id) }"></a>
                        </h4>
                        <div data-bind="text: Id"></div>
                        <!--<div data-bind="html: Body"></div>-->
                        <div data-bind="truncatedText: Body, maxTextLength: 350"></div>
                    </div>
                </div>
                <nav>
                    <ul class="pager" data-bind="foreach: page">
                        <li data-bind="if: prevUrl"><a class="pager-prev" data-bind='click: function() { prevPage(prevUrl) }'>Previous</a></li>
                        <li data-bind="if: nextUrl"><a class="pager-next" data-bind='click: function() { nextPage(nextUrl) }'>Next</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="col-sm-12 col-lg-4">
            <div class="advert">
                <p class="absolute-example">
                </p>
                <div class="col-xs-10 col-xs-offset-1">
                    <h3>Advertisement</h3>
                    <img src="app/images/UI_design.jpg" class="img-responsive" alt="Responsive image">
                    <footer class="panel-footer"><button id="closeAdButton">close</button>Advertisement! Have you considered using an ad-blocker?</footer>
                </div>
            </div>
        </div>
    </div>
</div>