<div class="row component-item">
    <div class="col-sm-12 col-lg-8">
        <div class="postContainer">
            <h2 class="headline">Tags
                <i class="fa fa-tags"></i>
            </h2>
            <div data-bind="foreach: tags">
                <div class="btn btn-default tag" data-bind="click: function() { toSearch(Tagname) }">
                    <div class="tagname" data-bind="text: Tagname"></div>
                    <span class="boldtext tagcount" data-bind="text: TagCount"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-lg-4">
        <div class="advert">
            <p class="absolute-example">
            </p>
            <div class="col-xs-10 col-xs-offset-1">
                <h3>Advertisement</h3>
                <img src="app/images/UI_design.jpg" class="img-responsive" alt="Responsive image">
                <footer class="panel-footer"><button id="closeAdButton">close</button>Advertisement! Have you considered using an ad-blocker?</footer>
            </div>
        </div>
    </div>

</div>

