/*********** Advertisement ***********/
#close {
    float:right;
    display:inline-block;
    padding:2px 5px;
    background:#ffffff;
}

#close:hover {
    float:right;
    display:inline-block;
    /*padding:2px 5px;*/
    padding-bottom:3em;
    background:rgb(210,210,200);
    color:#000000;
}

#closeAdButton {
    float:right;
    top: 0;
    right: 0;
}