/*feel free to import other stylesheet*/

@import url('postdetail.css');
@import url('posts.css');



 /*********** Global Styles ***********/
body {
        margin-top: 90px;
        background-color: rgb(230,230,220);
}

.content {
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
}
.boldtext {
    font-weight: bold;
}
