.postContainer {
 
}
.postItem {
    background-color: #E1E1E1;
    border-radius: 8px;
    padding: 10px;
    margin: 20px 0;
    border: 1px solid #eee;
    /*box-shadow: 2px 2px 6px black;*/
}
.postItem > h4 > a {
    color: #75A7BD;
    cursor: pointer;    
}
.search-headline {
    text-align: center;
}
.search-btn {
    width: 100%;
    min-width: 100px;
}

.input-group-addon {
    background-color: #337ab7; 
    border: none;
    color: #fff;
}
.search-input {
    width: 100% !important;
}
.pagination-centered {
    text-align: center;
}
