.postdetail-container {
    background-color: #ffffff;
    padding: 10px;
}
.postTitle > h2:first-child {
    font-family: Calibri;
    font-size: 24px;
    border-bottom: 1px solid grey;
}
.postdetail {
    background-color: rgb(227,212,161);
     /*Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e8e8e8+0,dbceaf+100 
    background: #e8e8e8;  Old browsers 
    background: -moz-linear-gradient(top,  #e8e8e8 0%, #dbceaf 100%);  FF3.6-15 
    background: -webkit-linear-gradient(top,  #e8e8e8 0%,#dbceaf 100%);  Chrome10-25,Safari5.1-6 
    background: linear-gradient(to bottom,  #e8e8e8 0%,#dbceaf 100%);  W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e8e8', endColorstr='#dbceaf',GradientType=0 );  IE6-9 */*/

}
.postUser {
    vertical-align: top;
    font-weight: bold;
}
.postBody {
    border-radius: 5px;
    padding: 15px;
    background-color: lightyellow;
    margin: 10px 0;
}
.hidecomments {
    display: none;
}

.commentBox {
    border: 1px solid grey;
    padding: 5px;
    background-color: Highlight;
}

.commentAuthor {
    font-weight: bold;
}


