.postdetail-container {
    background-color: #ffffff;
    padding: 10px;
}
.postTitle > h2:first-child {
    font-family: Calibri;
    font-size: 24px;
    border-bottom: 1px solid grey;
}
.postdetail {
    background-color: #E1E1E1;
     /*Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e8e8e8+0,dbceaf+100 
    background: #e8e8e8;  Old browsers 
    background: -moz-linear-gradient(top,  #e8e8e8 0%, #dbceaf 100%);  FF3.6-15 
    background: -webkit-linear-gradient(top,  #e8e8e8 0%,#dbceaf 100%);  Chrome10-25,Safari5.1-6 
    background: linear-gradient(to bottom,  #e8e8e8 0%,#dbceaf 100%);  W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e8e8', endColorstr='#dbceaf',GradientType=0 );  IE6-9 */*/

}
.postUser {
    vertical-align: top;
    font-weight: bold;
}
.postBody {
    border-radius: 5px;
    padding: 15px;
    background-color: lightyellow;
    margin: 10px 0;
}
.hide {
    display: none;
}

/* ***** comments ***** */
.commentBox {
    border: 1px solid grey;
    border-radius:7px;
    padding: 5px;
    background-color: #ffffff;
}
.comment {
    margin-bottom: 7px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px; 
}
.commentAuthor {
    font-weight: bold;
    border-bottom: 1px solid;
    margin-left: 2px;
    width: 150px;
}
.comment-body {
    border-radius: 4px;
    margin: 7px;
}

.modal-content {
    background-color: #EBEBEB;
}

.input[type=submit] {
    /*background:url(../images/Favorite.png) no-repeat;
    background-size:cover;*/
    border: 0;
    display:block;
    float:right;
    position:relative;
    top: -112px;
}

.anno-content {
    padding: 15px;
    margin-bottom: 6px;
}
.anno-btns {
    margin: 0 5px;
    margin-top : 10px;

}
.anno-btn-group {
    height: 35px;
}


