.tag {
    display: inline-block;
    padding: 5px;
    margin: 0 2px;
    margin-bottom: 5px;
    cursor: pointer;
}

.tag:hover {
    background-color: #E1E1E1;    
}

.tagname, .tagcount {
    display: inline-block;

}
